<!-- <footer class="bg-dark site-footer">
    <div class="footer-container justify-content-center">
      <small>Copyright &copy; <a href="{{ site.baseurl }}">{{site.org}}</a></small>
    </div>
  </footer> -->
  <div id="footer" class="bg-dark text-white-50 container-fluid">
    <div class="row">
      <div class="col-md-4">
        <small>Authors:</small> </br>
        {% for author in site.data.authors %}
          <small>{{author.name}}: {{author.email}}</small></br> 
        {% endfor %}
      </div>
      <div class="col-md-4">
        <small>Copyright &copy; <a href="{{ site.baseurl }}">{{site.org}}</a></small>
      </div>
      <div class="col-md-4">
        <small>Contact us</small> <br>
        <a href="#" class="fa fa-3x fa-github"></a>
        <a href="#" class="fa fa-3x fa-twitter"></a>
      </div>
    </div>
  </div>