<div id="accordion" class="col-lg-2 col-sm-12 col-xs-12">
  {% for section in site.data.toc %}
    {% capture sectionUrl %}{{ section.url | replace: "/", "" }}{% endcapture %}
    {% capture pageUrl %}{{ page.url | replace: "/", "" }}{% endcapture %}
    {% if section.links %}
      {% for entry in section.links %}
        <div class="card">
          
          <div class="card-header" id="heading{{forloop.index}}">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{forloop.index}}"
                aria-expanded="false" aria-controls="collapse{{forloop.index}}">
                {{ entry.title }}
              </button>
            </h5>
          </div>
          {% if page.url contains entry.url or pageUrl contains sectionUrl %}
            {% if entry.children %}    
              <div id="collapse{{forloop.index}}" class="collapse" aria-labelledby="heading{{forloop.index}}" data-parent="#accordion">
                <div class="card-body">
                  <ul id="items" style="list-style-type:none;">
                    {% for child in entry.children %}
                      <li><a href="{% if child.url %}{{ site.baseurl }}/{{ child.url }}{% else %}{{ child.external_url }}{% endif %}">{{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>