/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

#container {
  min-height:100%;
  position:relative;
}

/* ARTICLE */

.content {
  position: relative;
  padding-top: 4rem; 
}

article {
    padding-bottom: 6rem;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

/* SIDEBAR */

.card-header {
  padding-top: 0; 
  padding-bottom: 0;
}

.btn-link {
  color: #306bcc;
}

#items {
  margin-bottom: 0;
  padding: 0;
}

div.sticky {
	position: fixed;
  border-left-style: groove;
}

ul {
  padding-left: 20px;
}

li {
  list-style-type: none;
}


/* CODE  */
pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}
