<!doctype html> <!-- Important: must specify -->
<html>
<head>
  <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 charecters -->
  <title>{{site.org}}</title>
  <script type="module" src="../assets/rapidoc-min.js"></script>
  <!-- FAVICO -->
  <link rel="icon" href="../assets/brand/logo.svg">
</head>
<body>
  <rapi-doc spec-url = "../assets/l7mp-openapi.yaml" 
    render-style = "read"
    show-header = 'false'
    show-info = 'false'
    allow-authentication ='false'
    allow-server-selection = 'false'
    allow-api-list-style-selection ='false'
    > 
</rapi-doc>
</body> 
</html>